 <!DOCTYPE html>
 <html>
 	<head>
 		<!-- 2012-12-7/09:02 -->
 	 	<title><%= title %></title>
 	 	<%= csrf_meta_tag %>
 	 	<!-- 2012-12-7/11:10 -->
 	 	<%= render 'layouts/stylesheets' %>
 	</head>
 	<body>
 		<div class="container">
 			<%= render 'layouts/header' %>
 			<section class="round">
 				<% flash.each do |key, value| %>
 					<div class="flash <%= key %>"><%= value %></div>
 				<% end %>
 				<%= yield %>
 			</section>
 			<%= render 'layouts/footer' %>
 			<!-- 2012-12-09/17:00 -->
 			<!-- 在开发环境显示页面当前的controller和action	 -->
 			<%= debug(params) if Rails.env.development? %>
 		</div>
 	</body>
 </html>
