 <!DOCTYPE html>
 <html>
 	<head>
 		<!-- 2012-12-7/09:02 -->
 	 	<title><%= title %></title>
 	 	<%= csrf_meta_tag %>
 	 	<!-- 2012-12-7/11:10 -->
 	 	<%= stylesheet_link_tag 'blueprint/screen', :media => "screen" %>
 	 	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
 	<body>
 		<%= yield %>
 	</body>
 </html>
