 <!DOCTYPE html>
 <html>
 	<head>
 		<!-- 2012-12-7/09:02 -->
 	 	<title><%= title %></title>
 	 	<%= csrf_meta_tag %>
 	 	<!-- 2012-12-7/11:10 -->
 	 	<%= render 'layouts/stylesheets' %>
 	</head>
 	<body>
 		<div class="container">
 			<%= render 'layouts/header' %>
 			<section class="round">
 				<%= yield %>
 			</section>
 			<%= render 'layouts/footer' %>
 		</div>
 	</body>
 </html>
