<!DOCTYPE html> <!-- 这种极为简单的格式是最新的 HTML 标准 HTML5 的一个特色。 -->
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <!-- stylesheet_link_tag 函数，传进两个参数：一个是字符串，指明样式表的路径；另一个是 Hash，指明媒介类型。 -->
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <!-- 这些代码会引入应用程序的样式表和 JavaScript 文件（asset pipeline 的一部分）；Rails 中的 csrf_meta_tags 方法是用来避免“跨站请求伪造”（cross-site request forgery，CSRF，一种网络攻击）的。 -->
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
		  <%= yield %>
		  <%= render 'layouts/footer' %>
		  <%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
